@import url('./reset.scss');
@import url('./root.scss');

#app {
  height: 100%;
  zoom: 1;
  
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  color: transparent;
}
