@import url('./reset.scss');
@import url('./root.scss');

#app {
  width: 100%;
  height: 100%;
  zoom: 1;
}

#header {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

#main {
  width: 100%;
}

#footer {
  width: 100%;
  height: var(--footer-height);
  padding: 0;
  background-color: #3a3a3a;
  // position:absolute;
  // bottom:0px;
  // left:0px;
}

* {
  user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  // scale: 0.5;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  color: transparent;
}

// 美化滚动条
// ::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }

// ::-webkit-scrollbar-track {
//   width: 6px;
//   background: rgba(#101f1c, 0.1);
//   -webkit-border-radius: 2em;
//   -moz-border-radius: 2em;
//   border-radius: 2em;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(144, 147, 153, 0.5);
//   background-clip: padding-box;
//   min-height: 28px;
//   -webkit-border-radius: 2em;
//   -moz-border-radius: 2em;
//   border-radius: 2em;
//   transition: background-color 0.3s;
//   cursor: pointer;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(144, 147, 153, 0.3);
// }

.el-pagination.is-background .el-pager li.is-active {
  background-color: #f3a7a4 !important;
}
/* This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 10s;
}

video {
  border-radius: 20px;
  object-fit: cover;
}

.swiper-slide {
  background-color: transparent !important;
}
.swiper-slide-fully-visible {
  background-color: transparent !important;
}
.swiper-slide-prev {
  background-color: transparent !important;
}
.swiper-slide-next {
  background-color: transparent !important;
}
.swiper-wrapper {
  background-color: transparent !important;
}
