@import url('./reset.scss');
@import url('./root.scss');

#app {
  width: 100%;
  height: 100%;
  zoom: 1;
}

#header {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

#main {
  width: 100%;
}

#footer {
  width: 100%;
  height: var(--footer-height);
  padding: 0;
  background-color: #3a3a3a;
}

* {
  user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  // scale: 0.5;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  color: transparent;
}


// .animate__animated.animate__bounce {
//   --animate-duration: 2s;
// }