/* All animations will take twice as long to finish */
:root {
  --animate-duration: 1.5s !important;
  --animate-delay: 1s !important;
}
@media (min-width: 1520px) and (max-width: 1920px) {
  :root {
    --base-width: 1440px;
    --header-height: 76px;
    --footer-height: 576px;
    --vp-c-bg: black;
    --topic-fontSize: 42px;
    --aside-fontSize: 22px;
    --van-rolling-text-background: #1989fa;
    --van-rolling-text-color: white;
    --van-rolling-text-font-size: 24px;
    --van-rolling-text-gap: 6px;
    --van-rolling-text-item-border-radius: 5px;
    --van-rolling-text-item-width: 40px;
    --aside-block: 16px;
    --desc-fontSize: 20px;
    --desc-lineHeight: 34px;
    --fu-name-fontSize: 32px;

  }
}

@media (min-width: 1440px) and (max-width: 1520px) {
  :root {
    --base-width: 1220px;
    --header-height: 70px;
    --footer-height: 550px;
    --vp-c-bg: black;
    --aside-block: 16px;
    --desc-fontSize: 20px;
    --desc-lineHeight: 34px;
    --fu-name-fontSize: 32px;
    --topic-fontSize: 42px;
    --aside-fontSize: 22px;

  }
}

@media (min-width: 1220px) and (max-width: 1440px) {
  :root {
    --base-width: 1120px;
    --header-height: 65px;
    --footer-height: 520px;
    --vp-c-bg: black;
    --topic-fontSize: 30px;
    --aside-fontSize: 18px;
    --aside-block: 14px;
    --desc-fontSize: 16px;
    --desc-lineHeight: 25px;
    --fu-name-fontSize: 18px;

  }
}
@media (min-width: 960px) and (max-width: 1220px) {
  :root {
    --base-width: 960px;
    --header-height: 65px;
    --footer-height: 490px;
    --vp-c-bg: black;
    --topic-fontSize: 30px;
    --aside-fontSize: 18px;
    --aside-block: 14px;
    --desc-fontSize: 16px;
    --desc-lineHeight: 25px;
    --fu-name-fontSize: 18px;

  }
}

@media (max-width: 960px) {
  :root {
    --base-width: 100%;
    --header-height: 65px;
    --footer-height: 460px;
    --vp-c-bg: black;
  }
}
